{% extends "windcockpit/base.html" %}
{% block content %}
<h1>Sessions</h1>
{% if latest_session_list %}
    <ul>
        {% for session in latest_session_list %}
            <li>
                <a href="{% url 'windcockpit:session' session.id %}">
                    {{ session.date |date:'Y-m-d H:i' }}: {{ session.sport }} in {{ session.spot.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No sessions are available.</p>
{% endif %}
{% endblock %}
